<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table-auto border border-gray-200 w-full">
  <thead>
    <tr>
      <th class="border border-gray-200">Name</th>
      <th class="border border-gray-200">Description</th>
      <th class="border border-gray-200" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="border border-gray-200"><%= product.name %></td>
        <td class="border border-gray-200"><%= product.description %></td>
        <td class="border border-gray-200"><%= link_to 'Show', product %></td>
        <td class="border border-gray-200"><%= link_to 'Edit', edit_product_path(product) %></td>
        <td class="border border-gray-200"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
